* {
    padding: 0;
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

html {
    width: 100%;
    height: auto;
    font-size: 62.5%;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none; 
    -ms-user-select: none;
}

body {
   background-image:url('img/credit-card.jpeg');
   background-repeat:no-repeat;
   /*background-size:100% 100%;*/
   height: 100%;
   width: 100%;
   background-size: cover;

}

.body__header {
    position: relative;
    width: 100%;
    /*top: 10px;*/
    top: 1rem;
    height: 6rem;
   
}

.shadow__header {
    display: none;
    position: absolute;
    width: 100%;
    /*top: 10px;*/
    top: 1rem;
    height: 6rem;
}

.header__icon {
   position: absolute;
   transform: translateX(-50%);
   left: 50%;
   /*width: 60px;*/
   width: 6rem;
  

}

.header__name {
    position: absolute;
    color: white;
    font-size: 3rem;
    left: 0;
    margin-left: 1rem;
    text-shadow:
    0.2rem  0.2rem 0 #000,
   -0.1rem -0.1rem 0 #000,  
    0.1rem -0.1rem 0 #000,
   -0.1rem  0.1rem 0 #000,
    0.1rem  0.1rem 0 #000;
       border: 0.1rem solid black;
       border-radius: 0.4rem 0.4rem 0.4rem 0.4rem;
}
.header__name:hover{
    cursor: pointer;
}

.header__shadowtext {
    display: none;
    position: absolute;
    color: white;
    font-size: 3rem;
    left: 0;
    margin-left: 1rem;
    text-shadow:
    0.2rem  0.2rem 0 #000,
   -0.1rem -0.1rem 0 #000,  
    0.1rem -0.1rem 0 #000,
   -0.1rem  0.1rem 0 #000,
    0.1rem  0.1rem 0 #000;
}

.header__shadowname {
    display: none;
    position: absolute;
    color: white;
    font-size: 3rem;
    left: 0;
    margin-left: 1rem;
    text-shadow:
    0.2rem  0.2rem 0 #000,
   -0.1rem -0.1rem 0 #000,  
    0.1rem -0.1rem 0 #000,
   -0.1rem  0.1rem 0 #000,
    0.1rem  0.1rem 0 #000;
       border: 0.1rem solid black;
       border-radius: 0.4rem 0.4rem 0.4rem 0.4rem;
}
.header__shadowname:hover{
    cursor: pointer;
}

.header__menu {
    position: relative;
    height: 14.5rem;
    width: 24rem;
}

.header__shadowmenu {
    display: none;
    position: relative;
    height: 14rem;
    width: 20rem;
}

.header__menu-box {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 10rem;
    height: 10rem;
}

.header__shadowmenu-box {
    display: none;
    position: absolute;
    left: 0;
    margin-left: 1rem;
    width: 12rem;
    height: 10rem;
}

.menu__list {
    list-style-type: none;
    display: none;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;

    border: 0.1rem solid black;
    border-radius: 0.4rem 0.4rem 0.4rem 0.4rem;
}

.menu__shadowlist {
    list-style-type: none;
    display: none;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;

    border: 0.1rem solid black;
    border-radius: 0.4rem 0.4rem 0.4rem 0.4rem;
}

.shadow__img {
    position: absolute;
    right: 0;
    margin-right: 0.5rem;
    top: 0;
    margin-top: 0.5rem;
}

.shadow__img:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.list__item1 {
    color: white;
    text-shadow:
    0.2rem  0.2rem 0 #000,
   -0.1rem -0.1rem 0 #000,  
    0.1rem -0.1rem 0 #000,
   -0.1rem  0.1rem 0 #000,
    0.1rem  0.1rem 0 #000;
    font-size: 2rem;
}
.list__item1:hover{
    cursor: pointer;
}

.list__item2 {
    color: white;
    text-shadow:
    0.2rem  0.2rem 0 #000,
   -0.1rem -0.1rem 0 #000,  
    0.1rem -0.1rem 0 #000,
   -0.1rem  0.1rem 0 #000,
    0.1rem  0.1rem 0 #000;
    font-size: 2rem;
}
.list__item2:hover{
    cursor: pointer;
}

.shadowlist__item1 {
    color: white;
    text-shadow:
    0.2rem  0.2rem 0 #000,
   -0.1rem -0.1rem 0 #000,  
    0.1rem -0.1rem 0 #000,
   -0.1rem  0.1rem 0 #000,
    0.1rem  0.1rem 0 #000;
    font-size: 2rem;
}
.shadowlist__item1:hover{
    cursor: pointer;
}

.shadowlist__item2 {
    color: white;
    text-shadow:
    0.2rem  0.2rem 0 #000,
   -0.1rem -0.1rem 0 #000,  
    0.1rem -0.1rem 0 #000,
   -0.1rem  0.1rem 0 #000,
    0.1rem  0.1rem 0 #000;
    font-size: 2rem;
}
.shadowlist__item2:hover{
    cursor: pointer;
}



.header__forms {
    position: absolute;
    display: flex;
    justify-content: space-between;
    right: 0;
    margin-right: 1rem;
    width: 35rem;
    height: 5rem;

}

.body__forms1{
    position: absolute;
    display: none;
    justify-content: space-around;
    bottom: 0;
    margin-bottom: 1rem;
    width: 100%;
    height: 5rem;
}

.form1 {
  height: 4rem;
  width: 10rem;
  text-align: center;
  color: black;
  background-color: white;
  border: 0.2rem solid black;
  border-radius: 1rem 1rem 1rem 1rem;
  font-size: 2rem;
}

.form2 {
    height: 4rem;
    width: 10rem;
    text-align: center;
    color: black;
    background-color: white;
    border: 0.2rem solid black;
    border-radius: 1rem 1rem 1rem 1rem;
    font-size: 2rem;
  }

.forms__sendler {
    height: 4rem;
    transition: all .2s;
}
.forms__sendler:hover{
    /*height: 4.5rem;*/
    transform: scale(1.2);
    cursor: pointer;
}
.forms__sendler:active{
    /*height: 3.9rem;*/
    transform: scale(0.9);
}




.body__main {
    position: absolute;
    /*height: 40%;*/
    height: 25rem;
    top:20%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   
}

.body__shadow-block {
    display: none;
    width: 20rem;
    height: 15rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border: 0.2rem solid black;
    border-radius: 1rem 1rem 1rem 1rem;
    font-size: 2rem;

    animation-name: fromLeft2;
    animation-duration: 4s;
    backface-visibility: hidden;
}

.shadow__block-img {
    position: absolute;
    right: 0;
    margin-right: 2rem;
    top: 0;
    margin-top: 2rem;
}

.shadow__block-name {
    position: absolute;
    left: 0;
    margin-left: 2rem;
    top: 0;
    margin-top: 2rem;
}

.shadow__block-name:hover{
    cursor: help;
}

.shadow__block-img:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.shadow__block-info {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    height: 4.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.shadow__block-user {
    color: white;
    text-shadow:
    0.2rem  0.2rem 0 #000,
   -0.1rem -0.1rem 0 #000,  
    0.1rem -0.1rem 0 #000,
   -0.1rem  0.1rem 0 #000,
    0.1rem  0.1rem 0 #000;
}

.shadow__block-pin {
    color: white;
    text-shadow:
    0.2rem  0.2rem 0 #000,
   -0.1rem -0.1rem 0 #000,  
    0.1rem -0.1rem 0 #000,
   -0.1rem  0.1rem 0 #000,
    0.1rem  0.1rem 0 #000;

}

.body__shadow-block2 {
    display: none;
    width: 20rem;
    height: 15rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border: 0.2rem solid black;
    border-radius: 1rem 1rem 1rem 1rem;
    font-size: 2rem;

    animation-name: fromLeft2;
    animation-duration: 4s;
    backface-visibility: hidden;
}

.shadow__block2-img {
    position: absolute;
    right: 0;
    margin-right: 2rem;
    top: 0;
    margin-top: 2rem;
}
.shadow__block2-img:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.shadow__block2-icons {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    height: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.shadow__block2-img1 {
    height: 3rem;
}
.shadow__block2-img1:hover {
    cursor: help;
}

.shadow__block2-img2 {
    height: 3rem;
}
.shadow__block2-img2:hover {
    cursor: help;
}

.shadow__block2-img3 {
    height: 3rem;
}
.shadow__block2-img3:hover {
    cursor: help;
}

.body__shadow-block3 {
    display: none;
    width: 20rem;
    height: 15rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border: 0.2rem solid black;
    border-radius: 1rem 1rem 1rem 1rem;
    font-size: 2rem;

    animation-name: fromLeft2;
    animation-duration: 4s;
    backface-visibility: hidden;
}

.shadow__block3-img {
    position: absolute;
    right: 0;
    margin-right: 2rem;
    top: 0;
    margin-top: 2rem;
}
.shadow__block3-img:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.shadow__block3-bonuses {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    height: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.bonuses__1 {
    color: white;
    text-shadow:
    0.2rem  0.2rem 0 #000,
   -0.1rem -0.1rem 0 #000,  
    0.1rem -0.1rem 0 #000,
   -0.1rem  0.1rem 0 #000,
    0.1rem  0.1rem 0 #000;
    font-size: 2rem;
}
.bonuses__1:hover{
    cursor: help;
}

.bonuses__2 {
    color: white;
    text-shadow:
    0.2rem  0.2rem 0 #000,
   -0.1rem -0.1rem 0 #000,  
    0.1rem -0.1rem 0 #000,
   -0.1rem  0.1rem 0 #000,
    0.1rem  0.1rem 0 #000;
    font-size: 2rem;
}
.bonuses__2:hover{
    cursor: help;
}

.body__shadow-block4 {
    display: none;
    width: 20rem;
    height: 15rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border: 0.2rem solid black;
    border-radius: 1rem 1rem 1rem 1rem;
    font-size: 2rem;

    animation-name: fromLeft2;
    animation-duration: 4s;
    backface-visibility: hidden;
}

.shadow__block4-img {
    position: absolute;
    right: 0;
    margin-right: 2rem;
    top: 0;
    margin-top: 2rem;
}
.shadow__block4-img:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.shadow__block4-questions {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    height: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.questions__privacy {
    color: white;
    text-shadow:
    0.2rem  0.2rem 0 #000,
   -0.1rem -0.1rem 0 #000,  
    0.1rem -0.1rem 0 #000,
   -0.1rem  0.1rem 0 #000,
    0.1rem  0.1rem 0 #000;
    font-size: 2rem;
}
.questions__privacy:hover{
    cursor: pointer;
}

.questions__team {
    color: white;
    text-shadow:
    0.2rem  0.2rem 0 #000,
   -0.1rem -0.1rem 0 #000,  
    0.1rem -0.1rem 0 #000,
   -0.1rem  0.1rem 0 #000,
    0.1rem  0.1rem 0 #000;
    font-size: 2rem;
}
.questions__team:hover{
    cursor: pointer;
}

.questions__team1 {
    color: white;
    text-shadow:
    0.2rem  0.2rem 0 #000,
   -0.1rem -0.1rem 0 #000,  
    0.1rem -0.1rem 0 #000,
   -0.1rem  0.1rem 0 #000,
    0.1rem  0.1rem 0 #000;
    font-size: 2rem;
}
.questions__team1:hover{
    cursor: pointer;
}



.body__block {
    /*position: absolute;
    margin-top: 0;
    top:20%;
    left: 50%;
    transform: translateX(-50%);*/
    display: flex;
    justify-content: space-around;
    width: 30rem;
    height: 4rem;
    border: 0.1rem solid black;
    border-radius: 1rem 1rem 1rem 1rem;

    animation-name: fromLeft1;
    animation-duration: 2s;
    backface-visibility: hidden;
}
.body__block:hover {
    cursor: pointer;
}
.body__block:active {
    transform: scale(1.05);
}

.body__text {
    color: white;
    text-shadow:
    0.2rem  0.2rem 0 #000,
   -0.1rem -0.1rem 0 #000,  
    0.1rem -0.1rem 0 #000,
   -0.1rem  0.1rem 0 #000,
    0.1rem  0.1rem 0 #000;
    font-size: 2rem;
}


.body__icon {
    height: 4rem;
}

.body__block2 {
    /*position: absolute;
    margin-top: 0;
    top:30%;
    left: 50%;
    transform: translateX(-50%);*/
    display: flex;
    justify-content: space-around;
    width: 30rem;
    height: 4rem;
    border: 0.1rem solid black;
    border-radius: 1rem 1rem 1rem 1rem;

    animation-name:fromRight1;
    animation-duration: 3s;
    backface-visibility: hidden;
}
.body__block2:hover {
    cursor: pointer;
}
.body__block2:active {
    transform: scale(1.05);
}

.body__text2 {
    color: white;
    text-shadow:
    0.2rem  0.2rem 0 #000,
   -0.1rem -0.1rem 0 #000,  
    0.1rem -0.1rem 0 #000,
   -0.1rem  0.1rem 0 #000,
    0.1rem  0.1rem 0 #000;
    font-size: 2rem;
}

.body__icon2 {
    height: 4rem;
}


.body__block3 {
    /*position: absolute;
    top:40%;
    margin-top: 0;
    left: 50%;
    transform: translateX(-50%);*/
    display: flex;
    justify-content: space-around;
    width: 30rem;
    height: 4rem;
    border: 0.1rem solid black;
    border-radius: 1rem 1rem 1rem 1rem;

    animation-name: fromLeft1;
    animation-duration: 4s;
    backface-visibility: hidden;
}
.body__block3:hover {
    cursor: pointer;
}
.body__block3:active {
    transform: scale(1.05);
}

.body__text3 {
    color: white;
    text-shadow:
    0.2rem  0.2rem 0 #000,
   -0.1rem -0.1rem 0 #000,  
    0.1rem -0.1rem 0 #000,
   -0.1rem  0.1rem 0 #000,
    0.1rem  0.1rem 0 #000;
    font-size: 2rem;
}

.body__icon3 {
    height: 4rem;
}

.body__block4 {
    /*position: absolute;
    margin-top: 0;
    top:50%;
    left: 50%;
    transform: translateX(-50%);*/
    display: flex;
    justify-content: space-around;
    width: 30rem;
    height: 4rem;
    border: 0.1rem solid black;
    border-radius: 1rem 1rem 1rem 1rem;

    animation-name:fromRight1;
    animation-duration: 5s;
    backface-visibility: hidden;
}
.body__block4:hover {
    cursor: pointer;
}
.body__block4:active {
    transform: scale(1.05);
}

.body__text4 {
    color: white;
    text-shadow:
    0.2rem  0.2rem 0 #000,
   -0.1rem -0.1rem 0 #000,  
    0.1rem -0.1rem 0 #000,
   -0.1rem  0.1rem 0 #000,
    0.1rem  0.1rem 0 #000;
    font-size: 2rem;
}

.body__icon4 {
    height: 4rem;
}

.shadow-container {
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 8rem;
    width: 100%;
    border: 0.1rem solid black;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    height: auto;
    background-color: white;
    padding: 0.5rem;
}



.shadow-container__balance {
    width: inherit;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(2,1fr);
}

.balance-text {
    font-size: 3rem;
    font-weight: 500;
    justify-self: start;
    transition: all .2s;
}

.balance-text:hover {
    transform: skewX(-5deg);
    cursor: pointer;
    border-bottom: 0.2rem solid black;
}

.balance-value {
    font-size: 3rem;
    font-weight: 500;
    justify-self: end;
}

.u-boxes-position {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(2,1fr);
}

.value-box {
    margin-top: 2rem;
    /*left: 0;*/
    justify-self: start;
    width: 50rem;
    height: auto;
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: repeat(8,1fr);
}

.value-box__block {
  width: inherit;
  height: 5rem;
  border: 0.1rem solid black;
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  margin-top: 0.5rem;

}

.value-box__block--content {
    padding: 0.5rem;
    font-size: 2rem;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto auto 1fr;
    align-items: center;
    gap: 3rem;
}

.box-deposit {
    text-transform: uppercase;
    border: 0.1rem solid black;
    padding: 0.2rem;
    border-radius: 1rem;
    background-color: rgba(0, 128, 0, 0.842);
    color: white;
}

.box-withdrawal {
    text-transform: uppercase;
    border: 0.1rem solid black;
    padding: 0.2rem;
    border-radius: 1rem;
    background-color: rgba(255, 0, 0, 0.801);
    color: white;
}

.box-summ {
    justify-self: end;
}


.user-box {
    width: 85%;
    margin-top: 2rem;
    justify-self: end;
    height: auto;
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: repeat(3,1fr);
}

.user-box__block {
  width: inherit;
  height: 15rem;
  border: 0.1rem solid black;
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  margin-top: 2.5rem;
  box-shadow: 0 1rem 2rem black;
}

.block-title {
    font-size: 2rem;
    color: black;
    font-weight: 600;
    margin-top: 1rem;
    margin-left: 1rem;
}

.u-block-sendler {
    width: inherit;
    margin: 0 auto;
    margin-top: 3rem;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
}

.u-block-request {
    width: inherit;
    margin: 0 auto;
    margin-top: 3rem;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(2,1fr);
}

.u-block-close {
    width: inherit;
    margin: 0 auto;
    margin-top: 3rem;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(3,1fr);
}

.sendler-leftp {
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: repeat(2,1fr);
    text-align: center;
    width: 10rem;
}

.request-leftp {
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: repeat(2,1fr);
    text-align: center;
    width: 10rem;
}

.close-leftp {
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: repeat(2,1fr);
    text-align: center;
    width: 10rem;
}

.sendler-centerp {
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: repeat(2,1fr);
    text-align: center;
    width: 10rem;
}

.close-centerp {
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: repeat(2,1fr);
    text-align: center;
    width: 10rem;
}

.sendler-endp {
    border: 0.1rem solid black;
    border-radius: 0.8rem 0.8rem 0.8rem 0.8rem;
    padding: 0.5rem;
    background-color: white;
    color: black;
    width: 5rem;
    font-size: 2rem;
    text-align: center;
    transition: all .2s;
}

.request-endp {
    border: 0.1rem solid black;
    border-radius: 0.8rem 0.8rem 0.8rem 0.8rem;
    padding: 0.5rem;
    background-color: white;
    color: black;
    width: 5rem;
    font-size: 2rem;
    text-align: center;
    transition: all .2s;
}

.close-endp {
    border: 0.1rem solid black;
    border-radius: 0.8rem 0.8rem 0.8rem 0.8rem;
    padding: 0.5rem;
    background-color: white;
    color: black;
    width: 5rem;
    font-size: 2rem;
    text-align: center;
    transition: all .2s;
}

.sendler-leftp__form {
    border: 0.1rem solid black;
    border-radius: 0.8rem 0.8rem 0.8rem 0.8rem;
    width: 10rem;
}

.sendler-leftp__formtext {
    font-size: 1.5rem;
    font-weight: 600;
}

.sendler-centerp__formtext {
    font-size: 1.5rem;
    font-weight: 600;
}

.request-leftp__formtext {
    font-size: 1.5rem;
    font-weight: 600;
}

.close-leftp__formtext {
    font-size: 1.5rem;
    font-weight: 600;
}

.close-centerp__formtext {
    font-size: 1.5rem;
    font-weight: 600;
}

.form-line {
    border-radius: 0.8rem 0.8rem 0.8rem 0.8rem;
    width: 10rem;
    background-color:rgba(255, 135, 0, 0.842);
    text-align: center;
}

.form-line2 {
    border-radius: 0.8rem 0.8rem 0.8rem 0.8rem;
    width: 10rem;
    background-color:rgba(0, 108, 0, 0.842);
    text-align: center;
}

.form-line3 {
    border-radius: 0.8rem 0.8rem 0.8rem 0.8rem;
    width: 10rem;
    background-color: rgba(255, 45, 0, 0.5);
    text-align: center;
}

.block-transfer {
   background-color:rgba(255, 166, 0, 0.842);
   color: black;
}

.block-request {
   background-color: rgba(0, 128, 0, 0.842);
   color: black;
}

.block-close {
   background-color: rgba(255, 0, 0, 0.801);
   color: black;
}

.u-log-position {
    margin-top: 2rem;
    font-size: 2rem;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(2,1fr);
    padding: 1rem;
}

.login-time {
  justify-self: start;
  display: none;
}

.value-choose {
    justify-self: end;
    border: 0.2rem solid black;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    padding: 0.3rem;
}

.login-time__data {
 font-weight: 700;
 text-decoration: underline;
}

.login-time__data2 {
    font-weight: 700;
    text-decoration: underline;
   }

.logout-time__data {
  font-weight: 700;
  text-decoration: underline;
}

[class*=-endp]:hover {
    transform:scale(1.2);
  }

[class*=-endp]:active {
    transform:scale(0.9);
  }

  .currency-form {
      display: none;
  }



  .currency-btn {
      width: 15rem;
      border-radius:0.5rem 0.5rem 0.5rem 0.5rem;
      font-size: 2.5rem;
      font-weight: 500;
      justify-self: end;
      transition: all .2s;
  }

  .currency-btn:hover {
      transform: scale(1.1);
      cursor: pointer;
  }

  .currency-btn:active {
    transform: scale(0.9);
}

  .currency-cancel {
      width: 1rem;
  }

  .currency-cancel:hover {
    transform: scale(1.2);
    cursor: pointer;
}

  .currency-ch {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      display: grid;
      grid-auto-flow: column;
      border-radius:0.5rem 0.5rem 0.5rem 0.5rem;

      animation-name: fromRight1;
      animation-duration:2s;
  }

  .currency:hover {
       cursor: pointer;
       transform: scale(1.2);
       border: 0.2rem solid black;
       border-radius: 100%;
  }

  .form--focus {
      transition: all .2s;
  }

  .form--focus:focus {
      outline: none;
      box-shadow: 0 1rem 2rem black;
  }

  .form--focus:focus:invalid {
      border-color: rgba(255, 30, 0, 0.941);
  }

@keyframes fromLeft1 {
0% {
opacity: 0;
}

80% {
transform: translateX(2rem);
}

100%{
opacity: 1;
}
}

@keyframes fromRight1 {
    0% {
    opacity: 0;
    }
    
    80% {
    transform: translateX(-2rem);
    }
    
    100%{
    opacity: 1;
    }
    }

    @keyframes fromLeft2 {
        0% {
        opacity: 0;
        }
        
        80% {
        transform: translateX(1rem);
        }
        
        100%{
        opacity: 1;
        }
        }


        @keyframes onAnimation {
            0% {
                opacity: 0;
                }
                
              
                
                100%{
                opacity: 1;
                }
        }

        
       